<section>
    <div class="conainer">
        <div class="row">
            <div class="col-md-12">
                <h1 style="text-align:center">Store Management</h1>
            </div>
            <br />
            <div class="col-md-6">
                <h2 style="text-align:center">List of Books</h2>
                <ul class="list-group">
                    <li 
                        class="list-group-item"
                        *ngFor="let book of bookList$ | async" >
                        {{book.book_name}}: 
                        <p>{{book.book_description}}</p>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <h2 style="text-align:center">Add Book</h2>
                <form #bookform = "ngForm" (ngSubmit)="addBook(bookform)">
                    <div class="form-group">
                        <label>Book ID</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            ngModel 
                            name="book_id" 
                            id="book_id"
                            aria-describedby="book_id"
                            required>
                    </div>
                    <div class="form-group">
                        <label>Book Name</label>
                        <input 
                            type="text" 
                            class="form-control"
                            ngModel 
                            name="book_name" 
                            id="book_name"
                            aria-describedby="book_name"
                            required>
                    </div>
                    <div class="form-group">
                        <label>Book Description</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            ngModel 
                            name="book_description" 
                            id="book_description"
                            aria-describedby="book_description"
                            required>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
        
    </div>
</section>